.sidebar ul li{
    list-style-type: none;
    color: white;
    padding: 10px;
    border-radius: 12px;
    margin: auto 5px;
}
.sidebar ul li:first-child{
    border-radius: 12px;
    margin-top: 10px;
}
.sidebar ul li:hover{
    cursor: pointer;
    background-color: blueviolet;
}

.active{
    color : blue;
}
.active:hover{
    color: white;
}
li:has(.active){
    background-color: whitesmoke;
    border-radius: 0;
}